
{% for instance in instances %}
{% if instance.disks is defined %}
   {% for disk in instance.disks %}
{{ instance.name }}-{{disk.name}}:
   instance_id: {{ instance.name }}
   volume_id: {{ disk.name }}
   dev_name: {{ disk.device_name }}
   {% endfor %}
{% endif %}
{% endfor %}

  