
{% for instance in instances %}
{% if instance.disks is defined %}
{% for disk in instance.disks %} 
- disk_name: {{ disk.name }}
  dev_name: {{ disk.device_name }}
  size: {{ disk.size }}
  az: {{ instance.availability_zone }}
    {% endfor %}
  {% endif %}
{% endfor %}


